mixin header(type)
    header.header(class=`${type ? type : ''}`).js-header
        a(href='#').header__logo
            i.icon.header__logo-icon
                include ../svg/logo_me.svg
        .header__sandwich.js-sandwich Menu
        .header__menu.js-sandwich-menu
            .header__nav
                .header__nav-title Меню
                .nav
                    ul.nav__list
                        each val, i in ['Главная', 'Портфолио', 'О нас']
                            li.nav__item
                                a.nav__link(href='#', class=`${i === 0 ? '_active' : ''}`)= val
            .social.header__social
                -
                    var social = [svg.telegram, svg.insta, svg.facebook]
                each val in social
                    a(href='#').social__link
                        i.icon !{val}