mixin intro()
    section.intro
        h2.intro__title Но работаете  вы с людьми
        button.btn.intro__btn Перейти в раздел о нас
        p.intro__desc #[span на фото:] Илья и Елена Горбачева,  генеральный и креативный директор