mixin reviews()
    section.reviews.me-container
        h2.txt-title-1.reviews__title Отзывы
        .reviews__list.js-reviews-slider-container
            .slick-slider-arrows.reviews__arrows.js-reviews-slider-arrows
            .slick-slider.reviews__slider.js-reviews-slider
                .reviews__item
                    .reviews__image
                        img(src='img/reviews-image.jpg', alt='')
                    .reviews__info
                        p.reviews__text
                            |Не, ну это все еще  сайт, так что..Lorem  ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                        p.reviews__author
                            |Павел Недостоев<br> Главный, Крутая компания
                .reviews__item
                    .reviews__info
                        p.reviews__text
                            |Не, ну это все еще  сайт, так что..Lorem  ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                        p.reviews__author
                            |Павел Недостоев<br> Главный, Крутая компания
                    .reviews__info
                        p.reviews__text
                            |Не, ну это все еще  сайт, так что..Lorem  ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                        p.reviews__author
                            |Павел Недостоев<br> Главный, Крутая компания
