.form-control {

    &__label {
        margin-bottom: 5px;
        display: block;
        @include g-400();
        font-size: 10px;
        line-height: 2.1;
        letter-spacing: 3.4px;
        text-align: left;
        color: #a8acb9;
        text-transform: uppercase;

        @include after-md() {
            font-size: 9px;
            line-height: 2.33;
            letter-spacing: 1.2px;
        }
    }
}