.portfolio {
    padding: 0 10px 75px;
    text-align: center;

    @include after-md() {
        padding: 0 149px 100px;
    }

    &__nav {
        margin: 0 auto 80px;

        @include after-md() {
            margin: 0 0 60px;
            padding-top: 66px;
            width: 100%;
            border-top: 1px solid $red;
        }
    }

    &__title {
        margin-bottom: 22px;
        padding: 0 10px;
        text-align: center;

        @include after-lg() {
            margin-bottom: 29px;
            text-align: left;
        }
    }

    &__section {

        &._show-all {

            .portfolio__item {

                &:nth-child(n+5) {
                    display: block;
                }
            }
        }

        @include after-md() {
            padding-bottom: 30px;
            border-bottom: 1px solid $red;
        }
    }

    &._nav & {

        &__section {
            display: none;

            &._show {
                display: block;
            }
        }
    }

    &__list {
        margin-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media (min-width: 620px) {
            justify-content: flex-start;
        }

        @include after-md() {
            margin-bottom: 0;
        }
    }

    &__item {
        margin: 0 10px 20px;
        flex: 1 1 280px;
        max-width: 353px;
        position: relative;

        &:nth-child(n+5) {
            display: none;

            @include after-md() {
                display: block;
            }
        }

        @media (min-width: 620px) {
            margin-left: 2.4194%;
            margin-right: 2.4194%;
            flex: 1 1 45.16129%;
            max-width: 45.16129%;
        }

        @media (min-width: 920px) {
            margin-left: 1.44928%;
            margin-right: 1.44928%;
            flex: 1 1 30.43478%;
            max-width: 30.43478%;
        }

        @include after-md() {
            margin: 0 3.5% 40px 0;
            flex: 1 1 31%;
            max-width: 31%;

            &:nth-child(3n) {
                margin-right: 0;
            }
        }

        &-wrapper {
            width: 100%;
            padding-bottom: 260 / 280 * 100%;
        }
    }

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 30px 20px;
        display: flex;
        align-items: flex-end;
        background-color: #000;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        color: #fff;

        &-title {
            display: block;
            position: relative;
            z-index: 1;
            @include msc-700();
            font-size: 18px;
            line-height: 1.5;
            color: #fff;
            text-align: left;
        }

        &-hover {
            opacity: 0;
            pointer-events: none;
            position: absolute;
            top: -12px;
            left: 0;
            right: 0;
            bottom: 12px;
            padding: 40px 20px;
            transition: opacity .25s;
            background: $red;

            @include after-md() {
                padding: 45px 40px;
                top: 0;
                left: -15px;
                right: 15px;
                bottom: 0;
            }
        }

        &:hover & {

            &-hover {
                opacity: 1;
            }
        }

        &-icon {
            display: block;
            width: 98px;
            height: auto;

            @include after-md() {
                width: 131px;
            }

            svg {
                width: 98px;
                height: auto;

                @include after-md() {
                    width: 131px;
                }

                path {
                    fill: #fff;
                }
            }
        }
    }

    &__btn {

        @include after-md() {
            display: none;
        }
    }

    &__section._show-all & {

        &__btn {
            display: none;
        }
    }
}