.slick-slider {
    position: relative;

    &-arrows {

        &._bottom {
            position: absolute;
            bottom: 50px;
            width: 100%;
            display: flex;
            justify-content: center;

            .slick-slider-arrow {
                position: relative;
                top: auto;
                left: auto;
                right: auto;
                transform: none;
                width: 40px;
                height: 40px;

                @include after-sm() {
                    width: 36px;
                    height: 36px;
                }

                &:not(:last-child) {
                    margin-right: 20px;
                }

                &._prev {

                    &:before {
                        left: 14px;

                        @include after-sm() {
                            left: 12px;
                        }
                    }
                }

                &._next {

                    &:before {
                        left: 8px;

                        @include after-sm() {
                            left: 7px;
                        }
                    }
                }
            }
        }
    }

    &-arrow {
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        width: 45px;
        height: 45px;
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid $red;
        background: #fff;
        cursor: pointer;
        font-size: 0;
        line-height: 0;

        &:before {
            content: '';
            width: 14px;
            height: 14px;
            border-left: 1px solid $red;
            border-bottom: 1px solid $red;
            position: absolute;
            top: 50%;
        }

        &._prev {
            left: -22px;

            &:before {
                left: 17px;
                transform: translateY(-50%) rotate(45deg);
            }
        }

        &._next {
            right: -22px;

            &:before {
                left: 10px;
                transform: translateY(-50%) rotate(-135deg);
            }
        }

        &._white {
            width: 42px;
            height: 42px;
            border: none;

            &:before {
                width: 14px;
                height: 14px;
                border-left: 3px solid $red;
                border-bottom: 3px solid $red;
            }

            &._prev {
                left: 20px;

                &:before {
                    left: 16px;
                }
            }

            &._next {
                right: 20px;
            }
        }
    }

    &-dots {
        position: absolute;
        width: 100%;

        .slick-dots {
            display: flex;
            justify-content: center;
        }

        li {
            line-height: 0;

            &:not(:last-child) {
                margin-right: 11px;
            }

            button {
                width: 9px;
                height: 9px;
                border-radius: 50%;
                border: 1px solid #000;
                background: #fff;
                cursor: pointer;
                font-size: 0;
                line-height: 0;
            }
            
            &.slick-active {
                
                button {
                    border-color: $red;
                    background: $red;
                }
            }
        }
    }
}